/* CSS Styleshet */

/* Header */
.header { font-family: :Montserrat; text-align: center; color: white ; background-color: #002C2C ; padding: 5px ; font-size: 30px; padding-top: 1px;}
#header_text {font-size: 30px;}

/*Menu*/
.navbar { font-family: montserrat; text-align: center ; color: white ; background-color: #002C2C ; padding-bottom: 25px; width: auto; }
a[href] {color: white; padding-right: 30px; text-align: center;}

/* Some Content with Image 1 */
#text_h3 { font-family: Prata; letter-spacing: 1px; text-decoration: underline; padding-left: 240px; font-size: 20px; padding-top: 30px; 
	       text-align: justify; text-justify: inter-word;}
#image_link {float: right; ; opacity: 0.85; border: 10px;} 
#image_text { font-family: montserrat; padding-top: 50px;}

/* Some Content */
section { text-align: center; font-family: Prata; margin-top: 80px}
#sometext { text-align: center; }

/*Footer*/
.footer { font-family:  montserrat; text-align: center; color: white; background-color: #002C2C; padding-top: 10px; padding-bottom: 10px;}
.footer2 { font-family: montserrat; text-align: center; color: cyan}

